<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_PointTaskManage">
                    <security mode="None" />
                </binding>
                <binding name="WSHttpBinding_TaskManage">
                    <security mode="None" />
                </binding>
                <binding name="WSHttpBinding_PlanManage">
                    <security mode="None" />
                </binding>
                <binding name="WSHttpBinding_DingBiaoManage">
                    <security mode="None" />
                </binding>
                <binding name="WSHttpBinding_TaskTarget_RManage">
                    <security mode="None" />
                </binding>
                <binding name="WSHttpBinding_QueryService_online">
                    <security mode="None" />
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:19010/PointTaskManage" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_PointTaskManage" contract="PointTargetManage.PointTaskManage"
                name="WSHttpBinding_PointTaskManage" />
            <endpoint address="http://localhost:19011/TaskManage" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_TaskManage" contract="TaskManage.TaskManage"
                name="WSHttpBinding_TaskManage" />
            <endpoint address="http://localhost:19012/PlanManage" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_PlanManage" contract="PlanManage.PlanManage"
                name="WSHttpBinding_PlanManage" />
            <endpoint address="http://localhost:19015/DingBiaoManage" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_DingBiaoManage" contract="DingBiaoManage.DingBiaoManage"
                name="WSHttpBinding_DingBiaoManage" />
            <endpoint address="http://localhost:19013/TaskTarget_RManage"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_TaskTarget_RManage"
                contract="T2T_RManage.TaskTarget_RManage" name="WSHttpBinding_TaskTarget_RManage" />
            <endpoint address="http://localhost:19009/QueryService_online"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_QueryService_online"
                contract="OrbitQueryService.QueryService_online" name="WSHttpBinding_QueryService_online" />
        </client>
    </system.serviceModel>
</configuration>